<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>testSite1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>write</servlet-name>
  	<servlet-class>com.bit.controller.WriteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>write</servlet-name>
  	<url-pattern>/community/write</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>list</servlet-name>
  	<servlet-class>com.bit.controller.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>list</servlet-name>
  	<url-pattern>/community/list</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>detail</servlet-name>
  	<servlet-class>com.bit.controller.DetailController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>detail</servlet-name>
  	<url-pattern>/community/detail</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>edit</servlet-name>
  	<servlet-class>com.bit.controller.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>edit</servlet-name>
  	<url-pattern>/community/edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>delete</servlet-name>
  	<servlet-class>com.bit.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>delete</servlet-name>
  	<url-pattern>/community/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>check</servlet-name>
  	<servlet-class>com.bit.controller.IdCheckController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>check</servlet-name>
  	<url-pattern>/user/over.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>reply</servlet-name>
  	<servlet-class>com.bit.controller.ReplyWriteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>reply</servlet-name>
  	<url-pattern>/community/reply.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>rereply</servlet-name>
  	<servlet-class>com.bit.controller.ReReplyWriteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>rereply</servlet-name>
  	<url-pattern>/community/rereply</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>replydelete</servlet-name>
  	<servlet-class>com.bit.controller.ReplyDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>replydelete</servlet-name>
  	<url-pattern>/community/replyDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>replyedit</servlet-name>
  	<servlet-class>com.bit.controller.ReplyEditController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>replyedit</servlet-name>
  	<url-pattern>/community/replyEdit</url-pattern>
  </servlet-mapping>
</web-app>